@page "/"
@using app.business.Services
@using app.domain.Models.ProjectsAggregate
@using app.shared.Utilities
@using Microsoft.Extensions.Localization
@attribute [StreamRendering]
@inject IProjectService ProjectService
@inject Microsoft.Extensions.Localization.IStringLocalizerFactory LocalizerFactory

<PageTitle>@SharedLocalizer["PageTitle_Home"]</PageTitle>
<HeadContent>
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="@SharedLocalizer["Meta_Title"]">
    <meta property="og:description"
        content="@SharedLocalizer["Meta_Description"]">
    <meta property="og:image" content="https://dotnet.cm/assets/brand/logo.png">
    <meta property="og:url" content="https://dotnet.cm">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="@SharedLocalizer["Meta_Title"]">

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@SharedLocalizer["Meta_Title"]">
    <meta name="twitter:description"
        content="@SharedLocalizer["Meta_Description"]">
    <meta name="twitter:image" content="https://dotnet.cm/assets/brand/logo.png">
    <meta name="twitter:site" content="@@dotnetcameroon">

    <meta name="description"
        content="@SharedLocalizer["Meta_Description"]">
</HeadContent>

<div>
    <!-- Hero Section -->
    <section class="relative h-[100svh] bg-[url(/assets/featured/carousel-1.png)] bg-cover bg-fixed">
        <NavBar Type=@NavType.Transparent />
        <div class="absolute z-10 top-0 left-0 w-full h-full bg-gradient-to-r from-black to-transparent opacity-70">
        </div>
        <div id="home" class="relative z-20 h-full container mx-auto p-8">
            <div
                class="lg:w-1/2 h-full flex flex-col justify-center md:gap-6 gap-4 md:translate-y-[-60px] translate-y-[-40px]">
                <h1
                    class="text-white text-center md:text-start heading font-bold text-5xl md:text-7xl md:leading-[80px]">
                    @((MarkupString)SharedLocalizer["Hero_Title"].Value)</h1>
                <p class="text-white text-center md:text-start leading-[35px]">@SharedLocalizer["Hero_Description"]</p>
                <div class="flex gap-4 justify-center md:justify-start">
                    <a data-enhance-nav="false" href="/" class="btn btn-primary">@SharedLocalizer["Hero_LearnMore"]</a>
                    <a data-enhance-nav="false" href="/" class="btn btn-secondary">@SharedLocalizer["Hero_JoinUs"]</a>
                </div>
            </div>
        </div>
    </section>

    <!-- What we do -->
    <section>
        <div class="section container mx-auto">
            <h1 class="heading heading-1">@SharedLocalizer["WhatWeDo_Title"]</h1>
            <p class="md:w-2/3">@SharedLocalizer["WhatWeDo_Description"]</p>
            <div class="flex gap-6 items-center justify-center flex-wrap mt-8">
                <ActivityCard ImageName="@Assets["/assets/activities/activity-1.jpg"]" Title="@SharedLocalizer["Activity_LiveCoding_Title"]"
                    Description="@SharedLocalizer["Activity_LiveCoding_Description"]" />
                <ActivityCard ImageName="@Assets["/assets/activities/activity-2.jpeg"]" Title="@SharedLocalizer["Activity_Conferences_Title"]"
                    Description="@SharedLocalizer["Activity_Conferences_Description"]" />
                <ActivityCard ImageName="@Assets["/assets/activities/activity-3.png"]"
                    Link="https://github.com/dotnetcameroon" LinkText="@SharedLocalizer["Activity_VisitGitHub"]" Title="@SharedLocalizer["Activity_OpenSource_Title"]"
                    Description="@SharedLocalizer["Activity_OpenSource_Description"]" />
            </div>
        </div>
    </section>

    <!-- About -->
    <section class="relative bg-[url(/assets/activities/membership.jpeg)] bg-cover bg-no-repeat">
        <div
            class="absolute z-10 top-0 left-0 w-full h-full bg-secondary md:bg-transparent md:bg-gradient-to-r md:from-secondary md:via-secondary/70 md:to-transparent">
        </div>
        <div class="relative z-20 section container mx-auto">
            <h1 class="heading heading-1 text-white">@SharedLocalizer["Membership_Title"]</h1>
            <p class="md:w-2/3 text-white">@SharedLocalizer["Membership_Description"]</p>

            <div class="md:mt-6 md:w-[500px] flex flex-col gap-7">
                <div class="md:flex gap-6">
                    <div class="w-1/2">
                        <h2 class="heading heading-3 text-white">600+</h2>
                        <p class="text-white">@((MarkupString)SharedLocalizer["Membership_Stats_Members"].Value)</p>
                    </div>
                    <div class="w-1/2">
                        <h2 class="heading heading-3 text-white">2k+</h2>
                        <p class="text-white">@((MarkupString)SharedLocalizer["Membership_Stats_Followers"].Value)</p>
                    </div>
                </div>
                <div class="md:flex gap-6">
                    <div class="w-1/2">
                        <h2 class="heading heading-3 text-white">60+</h2>
                        <p class="text-white">@SharedLocalizer["Membership_Stats_Events"]</p>
                    </div>
                    <div class="w-1/2">
                        <h2 class="heading heading-3 text-white">6+</h2>
                        <p class="text-white">@((MarkupString)SharedLocalizer["Membership_Stats_Projects"].Value)
                        </p>
                    </div>
                </div>
            </div>

            <a data-enhance-nav="false" href="/" class="btn btn-outline-white mt-6 block size-fit">@SharedLocalizer["Membership_BecomeMember"]</a>
        </div>
    </section>

    <!-- Partners -->
    <section>
        <div class="section container mx-auto">
            <h1 class="heading heading-1 text-center">@SharedLocalizer["Sponsors_Title"]</h1>
            <p class="text-center">@SharedLocalizer["Sponsors_Description"]</p>
            <div class="flex flex-wrap gap-8 justify-center items-center mt-8">
                <a data-enhance-nav="false" href="https://dotnetfoundation.org"><img src="@Assets["/assets/sponsors/dotnetfondation.webp"]"
                        alt=".NET Foundation" class="h-[100px]" /></a>
                <a data-enhance-nav="false" href="https://www.packtpub.com/"><img
                        src="@Assets["/assets/sponsors/packt.svg"]" alt="Packt" class="w-[200px]" /></a>
                <a data-enhance-nav="false"
                    href="https://www.linkedin.com/company/communaut%C3%A9-microsoft-powerplatform"><img
                        src="@Assets["/assets/sponsors/Microsoft_PowerPlateform_Cameroun-removebg-preview.png"]"
                        alt="Microsoft PowerPlateform Cameroun " class="w-[200px]" /></a>

                <a data-enhance-nav="false" href="https://examboot.net/"><img
                        src="@Assets["/assets/sponsors/examboot.jpg"]" alt="Examboot" class="w-[200px]" /></a>
                <a data-enhance-nav="false" href="https://itia-consulting.com"><img
                        src="@Assets["/assets/sponsors/itia-removebg-preview.png"]" alt="Itia" class="w-[200px]" /></a>
                <a data-enhance-nav="false" href="https://proditech-digital.com"><img
                        src="@Assets["/assets/sponsors/proditech.png"]" alt="Proditech" class="h-[100px]" /></a>
            </div>
        </div>
    </section>

    <!-- Projects -->
    @if(_projects.Length > 0)
    {
        <section>
            <div class="section container mx-auto">
                <h1 class="heading heading-1">@SharedLocalizer["Projects_Title"]</h1>
                <p class="md:w-2/3">
                    @SharedLocalizer["Projects_Description"]
                </p>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
                    @foreach (var project in _projects)
                    {
                        <div class="min-h-[200px] flex flex-col items-start hover:shadow-lg transition-all p-4 rounded-lg" target="_blank">
                            <span class="font-bold">@project.Title</span>
                            <p class="text-gray-600 line-clamp-2 text-sm">@project.Description</p>

                            <div class="flex flex-wrap gap-2">
                                @foreach (var tech in project.Technologies.Split(','))
                                {
                                    <span class="text-sm m-0 font-semibold text-secondary">#@tech</span>
                                }
                            </div>

                            <div class="flex flex-wrap gap-2 mt-2">
                                @if(!string.IsNullOrWhiteSpace(project.Github))
                                {
                                    <a href="@project.Github" title="@project.Title github" class="text-primary text-lg hover:text-primary-accentuation transition-all" target="_blank">
                                        <i class="fa-brands fa-github"></i>
                                    </a>
                                }
                                @if(!string.IsNullOrWhiteSpace(project.Website))
                                {
                                    <a href="@project.Website" title="@project.Title website" class="text-primary text-lg hover:text-primary-accentuation transition-all" target="_blank">
                                        <i class="fa-solid fa-globe"></i>
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
</div>

@code {
    private Project[] _projects = [];
    
    private IStringLocalizer? _sharedLocalizer;
    private IStringLocalizer SharedLocalizer => _sharedLocalizer ??= LocalizerFactory.Create("SharedResources", "app");
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _projects = await ProjectService.GetAllAsync();
    }
}
