@page "/dotnet-conf-2025"
@using app.Components.Pages.NET_Conf.Year2025.Components
@using Microsoft.Extensions.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizerFactory LocalizerFactory

<PageTitle>@SharedLocalizer["PageTitle_Home"]</PageTitle>
<HeadContent>
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="@SharedLocalizer["Meta_Title"]">
    <meta property="og:description" content="@SharedLocalizer["Meta_Description"]">
    <meta property="og:image" content="https://dotnet.cm/assets/brand/logo.png">
    <meta property="og:url" content="https://dotnet.cm">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="@SharedLocalizer["Meta_Title"]">

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@SharedLocalizer["Meta_Title"]">
    <meta name="twitter:description" content="@SharedLocalizer["Meta_Description"]">
    <meta name="twitter:image" content="https://dotnet.cm/assets/brand/logo.png">
    <meta name="twitter:site" content="@@dotnetcameroon">

    <meta name="description" content="@SharedLocalizer["Meta_Description"]">
</HeadContent>


<div>
    <!-- Hero Section -->
    <section>
        <NavBar Type=@NavType.Transparent />
        <HeroSection />
    </section>
    <ImageCarousel/>

    <!-- Planning Section -->
    <section id="planning" data-section-id="planning" class="section container mx-auto px-4 py-16">
        <h2 class="heading heading-1 text-center mb-8">@SharedLocalizer["NetConf_2025_Nav_Planning"]</h2>
        <p class="text-center text-gray-600">Coming soon...</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
    </section>

    <!-- Speakers Section -->
    <section id="speakers" data-section-id="speakers" class="section container mx-auto px-4 py-16 bg-gray-50">
        <h2 class="heading heading-1 text-center mb-8">@SharedLocalizer["NetConf_2025_Nav_Speakers"]</h2>
        <p class="text-center text-gray-600">Coming soon...</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
    </section>

    <!-- Core Team Section -->
    <section id="core-team" data-section-id="core-team" class="section container mx-auto px-4 py-16">
        <h2 class="heading heading-1 text-center mb-8">@SharedLocalizer["NetConf_2025_Nav_CoreTeam"]</h2>
        <p class="text-center text-gray-600">Coming soon...</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
    </section>

    <!-- Sponsors Section -->
    <section id="sponsors" data-section-id="sponsors" class="section container mx-auto px-4 py-16 bg-gray-50">
        <h2 class="heading heading-1 text-center mb-8">@SharedLocalizer["NetConf_2025_Nav_Sponsors"]</h2>
        <p class="text-center text-gray-600">Coming soon...</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
    </section>

    <!-- Archives Section -->
    <section id="archives" data-section-id="archives" class="section container mx-auto px-4 py-16">
        <h2 class="heading heading-1 text-center mb-8">@SharedLocalizer["NetConf_2025_Nav_Archives"]</h2>
        <p class="text-center text-gray-600">Coming soon...</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus veritatis tempora asperiores quam, rerum reiciendis magnam eius necessitatibus ratione qui. Labore nobis aliquid voluptatem sunt ipsum expedita dolorem odit laboriosam!</p>
    </section>

    <!-- Floating Navigation Bar -->
    <FloatingNavBar NavItems="@navigationItems"
                   SubscribeButtonUrl="https://forms.office.com/r/da0rtC4m8X"
                   ShowSubscribeButton="true" />

</div>

@code {

    private IStringLocalizer? _sharedLocalizer;
    private IStringLocalizer SharedLocalizer => _sharedLocalizer ??= LocalizerFactory.Create("SharedResources", "app");

    private List<FloatingNavBar.NavItem> navigationItems = new()
    {
        new FloatingNavBar.NavItem { Id = "planning", LabelKey = "NetConf_2025_Nav_Planning" },
        new FloatingNavBar.NavItem { Id = "speakers", LabelKey = "NetConf_2025_Nav_Speakers" },
        new FloatingNavBar.NavItem { Id = "core-team", LabelKey = "NetConf_2025_Nav_CoreTeam" },
        new FloatingNavBar.NavItem { Id = "sponsors", LabelKey = "NetConf_2025_Nav_Sponsors" },
        new FloatingNavBar.NavItem { Id = "archives", LabelKey = "NetConf_2025_Nav_Archives" }
    };
}