<div class="gap-8 md:h-[300px] flex flex-col md:flex-row">
    <div class="w-[230px]">
        <img src="@Activity.Host.ImageUrl" alt="@Activity.Title" class="w-full md:h-full object-cover">
    </div>
    <div class="md:w-[calc(100%-200px)] flex flex-col items-start">
        <h2 class="heading heading-3">@Activity.Title</h2>
        <p class="bg-secondary bg-opacity-60 text-white px-2 py-1 text-xs rounded-xl">@Activity.Schedule.ToFriendlyString()</p>
        <p class="mt-4">
            @Activity.Description
        </p>
        <div class="flex gap-2 items-center mt-4">
            <p class="font-bold">By @Activity.Host.Name</p>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public required Activity Activity { get; set; }
}
