@page "/dotnet-conf-2024"

<PageTitle>.NET Conf 2024 Cameroon 🇨🇲</PageTitle>
<HeadContent>
    <!-- Open Graph meta tags -->
    <meta property="og:title" content=".NET Conf 2024 Cameroon 🇨🇲">
    <meta property="og:description"
        content="Welcome to the .NET Cameroon Community website! Join us to learn, share, and collaborate on .NET technologies. Stay updated with our latest events, resources, and news.">
    <meta property="og:image" content="https://dotnetcameroon.azurewebsites.net/assets/brand/logo.png">
    <meta property="og:url" content="https://dotnetcameroon.azurewebsites.net">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content=".NET Cameroon Community">

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content=".NET Conf 2024 Cameroon 🇨🇲">
    <meta name="twitter:description"
        content="Welcome to the .NET Cameroon Community website! Join us to learn, share, and collaborate on .NET technologies. Stay updated with our latest events, resources, and news.">
    <meta name="twitter:image" content="https://dotnetcameroon.azurewebsites.net/assets/brand/logo.png">
    <meta name="twitter:site" content="@@dotnetcameroon">

    <meta name="description"
        content="Welcome to the .NET Cameroon Community website! Join us to learn, share, and collaborate on .NET technologies. Stay updated with our latest events, resources, and news.">
</HeadContent>


<!-- Hero section -->
<section class="md:h-[700px] relative">
    <NavBar Type=@NavType.Transparent/>
    <div class="absolute z-10 top-0 left-0 w-full h-full bg-gradient-to-t from-[rgb(12,5,56)] to-[rgb(31,21,121)]"></div>
    <div class="md:flex md:gap-[110px] relative md:absolute md:top-0 md:left-1/2 md:-translate-x-1/2 z-20 md:h-full bg-transparent container mx-auto p-4">
        <div class="md:w-1/2 self-center flex flex-col gap-4 items-center">
            <h1 class="text-white text-center text-7xl font-bold font-special">.NET Conf 2024 Cameroon 🚀🇨🇲</h1>
            <p class="text-white text-center">Join the .NET Revolution in Cameroon!</p>
            <a href="@EventUrl" target="_blank" class="btn btn-outline-white">Register Now <i class="fa-solid fa-arrow-right -rotate-45"></i></a>
        </div>
        <div class="md:w-1/2 mt-6 md:mt-0 self-center flex flex-col gap-8">
            <div>
                <ul class="text-white flex md:block justify-center gap-4 flex-wrap">
                    <li class="font-bold"><i class="fa-regular fa-calendar-days"></i> 11th Jan 2025</li>
                    <li class="font-bold"><i class="fa-solid fa-location-dot"></i> ActivSpaces, Douala, Cameroon</li>
                    <li class="font-bold link"><a target="_blank" href="https://maps.app.goo.gl/TsQw2FXXUvJGsftQ7"><i class="fa-regular fa-map"></i> Google Maps Location</a></li>
                </ul>
            </div>
            <Countdown DueDate="new DateTime(2025, 1, 11)" />
            <div>
                <p class="text-white mb-6">Get ready to expand your skills, meet fellow developers, and dive into the latest trends in .NET at this year’s event! Here’s what awaits you</p>
                <ul class="text-white">
                    <li class="font-bold mt-2"><i class="fa-regular fa-circle-check"></i> Inspiring Talks from Experts</li>
                    <li class="font-bold mt-2"><i class="fa-regular fa-circle-check"></i> Cutting-Edge .NET 9 features</li>
                    <li class="font-bold mt-2"><i class="fa-regular fa-circle-check"></i> Build Connections</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Event Overview -->
<section class="section bg-[rgb(12,5,56)]">
    <div class="container mx-auto p-4">
        <h1 class="heading heading-1 text-white text-center">Event Overview</h1>
        <p class="text-white text-center">
            Get ready to join developers, tech enthusiasts, and industry experts from across Cameroon and beyond for an
            exciting day dedicated to .NET innovation. Whether you’re an experienced developer or just starting your
            journey, this conference offers something for everyone.
        </p>
        @* <img src="/assets/featured/net9-banner.png"/> *@
    </div>
    <div class="flex flex-wrap justify-center gap-2 mt-12">
        @foreach(var activity in Activities)
        {
            <div style="background-image: url('@activity.ImageUrl');" class="activity relative flex flex-col justify-between bg-blue-400 p-6 md:p-12 bg-cover bg-center w-full md:w-[max(33%,500px)] h-[650px] overflow-y-hidden">
                <div class="activity-bg absolute top-0 left-0 w-full h-full bg-gradient-to-t from-[rgb(12,5,56)] to-transparent"></div>
                <span class="text-white text-sm font-bold uppercase">@activity.Label</span>
                <div class="relative z-10">
                    <h2 class="heading heading-1 text-white">@activity.Title</h2>
                    <div class="activity-desc">
                        <p class="text-white">@activity.Desctiption</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- <div>
        @foreach (var speaker in Speakers)
        {
            <div class="rounded-lg">
                <div class="relative">
                    <img src="@speaker.ImageUrl" alt="@speaker.Name Picture" class="absolute top-0 left-0 w-full h-full object-cover">
                </div>
                <div>
                    <p class="text-white">@speaker.Occupation</p>
                    <p class="text-white">@speaker.Name</p>
                </div>
            </div>
        }
    </div> -->
</section>
<section>
    <div class="section container mx-auto p-4">
        <div class="mt-4 md:flex md:items-center md:gap-6">
            <div class="md:w-1/2">
                <h1 class="heading heading-1">Why to attend?</h1>
                <p class="mb-6">Whether you’re an experienced developer or a newcomer to .NET, this event offers a valuable opportunity to grow, learn, and connect</p>
                <ul class="mb-8">
                    <li class="font-bold mt-2"><i class="fa-regular fa-circle-check"></i> Stay Ahead with the Latest in .NET 9</li>
                    <li class="font-bold mt-2"><i class="fa-regular fa-circle-check"></i> Get Inspired by Industry Leaders</li>
                    <li class="font-bold mt-2"><i class="fa-regular fa-circle-check"></i> Build Your Professional Network</li>
                </ul>
                <a target="_blank" href="@EventUrl" class="btn btn-primary">Register Now <i class="fa-solid fa-arrow-right -rotate-45"></i></a>
            </div>
            <iframe class="w-full aspect-square mt-4 md:mt-0 md:w-1/2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.834102866315!2d9.6983944!3d4.0542329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1061125fabaee4b9%3A0x45a663c08b140e74!2sActivSpaces!5e0!3m2!1sfr!2scm!4v1730662552393!5m2!1sfr!2scm" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>

<section>
    <div class="section container mx-auto p-4">
        <div class="mt-4 md:flex md:items-center md:gap-6">
            <div class="block md:hidden">
                <h1 class="heading heading-1">Share Your Expertise at .NET Conf Cameroon!</h1>
                <p class="mb-6">Are you passionate about .NET, cutting-edge technologies, or building innovative solutions? Do you enjoy sharing your knowledge and inspiring others to grow? Then we want <span class="font-bold">YOU</span> to be part of .NET Conf Cameroon 2024!</p>
                <ul class="mb-8">
                    <li class="mt-2"><i class="fa-regular fa-circle-check"></i> <strong class="font-bold">Visibility:</strong> share your knowledge</li>
                    <li class="mt-2"><i class="fa-regular fa-circle-check"></i> <strong class="font-bold">Networking opportunities:</strong> interact with experts</li>
                    <li class="mt-2"><i class="fa-regular fa-circle-check"></i> <strong class="font-bold">Personal branding:</strong> elevate your image.</li>
                </ul>
                <a target="_blank" href="@SpeakerLink" class="btn btn-primary">Become a Speaker <i class="fa-solid fa-arrow-right -rotate-45"></i></a>
            </div>
            <img src="@Assets["/assets/infinite-days/image-11.jpeg"]" alt="Call to speaker photo" class="w-full mt-4 md:mt-0 md:w-1/2 md:aspect-square md:object-cover">
            <div class="hidden md:block md:w-1/2">
                <h1 class="heading heading-1">Share Your Expertise at .NET Conf Cameroon!</h1>
                <p class="mb-6">Are you passionate about .NET, cutting-edge technologies, or building innovative solutions? Do you enjoy sharing your knowledge and inspiring others to grow? Then we want <span class="font-bold">YOU</span> to be part of .NET Conf Cameroon 2024!</p>
                <ul class="mb-8">
                    <li class="mt-2"><i class="fa-regular fa-circle-check"></i> <strong class="font-bold">Visibility:</strong> share your knowledge</li>
                    <li class="mt-2"><i class="fa-regular fa-circle-check"></i> <strong class="font-bold">Networking opportunities:</strong> interact with experts</li>
                    <li class="mt-2"><i class="fa-regular fa-circle-check"></i> <strong class="font-bold">Personal branding:</strong> elevate your image.</li>
                </ul>
                <a target="_blank" href="@SpeakerLink" class="btn btn-primary">Become a Speaker <i class="fa-solid fa-arrow-right -rotate-45"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="section">
<div>
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-center text-base/7 font-semibold text-secondary">About last year?</h2>
        <p class="mx-auto mt-2 max-w-xl text-balance text-center heading heading-1">A brief overview of the Infinite Days last year</p>
        <p class="mt-2 p-4 container text-center mx-auto text-balance">Last year, we hosted the Infinite Days event sponsored by <a href="http://isolutions-intl.com/" target="_blank" class="font-bold link link-secondary">Infinite Solutions SARL</a>, a tech company building enterprise level softwares and solutions. Here is a small recap by pictures of this amazing event !!</p>
    </div>
    <div class="flex flex-col gap-2 lg:grid lg:grid-cols-4 lg:grid-rows-3">
        <div class="flex lg:block lg:row-span-2 border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-6.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-8.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-9.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-1.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:row-span-2 lg:col-span-2 lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-7.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-3.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-2.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:row-span-2 lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-5.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:col-span-2 lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-4.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-10.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
    </div>

    <div class="w-fit mt-5 mx-auto">
        <a href="https://stdntpartners-my.sharepoint.com/:f:/g/personal/jauresbeinjamin_fotsing_studentambassadors_com/EhDShjh0chVCi2jd8CYYtdQBpikOCGWqu714RdXfZ8iZpg?e=iuBvce" target="_blank" class="btn btn-primary">See all the pictures <i class="fa-solid fa-arrow-right -rotate-45"></i></a>
    </div>
</div>
</section>


@code {
    private string EventUrl = "https://forms.office.com/r/ChLwZEYr53";
    private string SpeakerLink = "https://forms.office.com/r/debtL0TDmA";
    private string SponsorLink = "https://forms.office.com/r/debtL0TDmA";

    private Activity[] Activities = [
        new Activity("Inspiring Sessions and Conferences", "Dive into cutting-edge topics and explore the latest in .NET technology through insightful sessions and talks. Learn from experts as they cover a wide range of topics, from web and mobile development to cloud solutions and artificial intelligence", "/assets/activities/activity-2.jpeg", "Tech"),
        new Activity("Meet Microsoft Experts", "Gain exclusive insights from Microsoft employees who work directly on .NET and related technologies. This is your chance to hear directly from those shaping the future of .NET and to ask questions that matter to your projects.", "/assets/featured/net9.png", "Culture"),
        new Activity("Networking and Connections", "Build meaningful connections with fellow developers, industry professionals, and tech enthusiasts. Exchange ideas, discuss solutions, and expand your network within the vibrant .NET community of Cameroon and beyond.", "/assets/featured/carousel-2.png", "Community"),
    ];

    record Speaker(
        string Name,
        string Occupation,
        string ImageUrl,
        string? LinkedIn,
        string? Twitter,
        string? Github
    );

    record Activity(
        string Title,
        string Desctiption,
        string ImageUrl,
        string Label
    );
}
