@page "/dotnet-conf-2024"
@using app.domain.ViewModels
@using app.shared.Utilities

<PageTitle>.NET Conf 2024 Cameroon 🇨🇲</PageTitle>
<HeadContent>
    <!-- Open Graph meta tags -->
    <meta property="og:title" content=".NET Conf 2024 Cameroon 🇨🇲">
    <meta property="og:description" content=".NET Conf Cameroon is a premier event for developers, tech enthusiasts, and industry leaders to explore the latest in .NET, connect with the community, and drive innovation in software development. Join us for inspiring talks, hands-on sessions, and networking opportunities!">
    <meta property="og:image" content="https://dotnetcameroon.blob.core.windows.net/public/dotnetconf24-dark.png">
    <meta property="og:url" content="https://dotnet.cm/dotnet-conf-2024">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content=".NET Cameroon Community">

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content=".NET Conf 2024 Cameroon 🇨🇲">
    <meta name="twitter:description" content=".NET Conf Cameroon is a premier event for developers, tech enthusiasts, and industry leaders to explore the latest in .NET, connect with the community, and drive innovation in software development. Join us for inspiring talks, hands-on sessions, and networking opportunities!">
    <meta name="twitter:image" content="https://dotnetcameroon.blob.core.windows.net/public/dotnetconf24-dark.png">
    <meta name="twitter:site" content="@@dotnetcameroon">

    <meta name="description" content=".NET Conf Cameroon is a premier event for developers, tech enthusiasts, and industry leaders to explore the latest in .NET, connect with the community, and drive innovation in software development. Join us for inspiring talks, hands-on sessions, and networking opportunities!">
</HeadContent>


<!-- Hero section -->
<section class="md:h-[700px] relative">
    <NavBar Type=@NavType.Transparent/>
    <div class="absolute z-10 top-0 left-0 w-full h-full bg-gradient-to-t from-[rgb(12,5,56)] to-[rgb(31,21,121)]"></div>
    <div class="md:flex md:gap-[110px] relative md:absolute md:top-0 md:left-1/2 md:-translate-x-1/2 z-20 md:h-full bg-transparent container mx-auto p-4">
        <div class="md:w-1/2 self-center flex flex-col gap-4 items-center">
            <h1 class="text-white text-center text-7xl font-bold font-special">.NET Conf 2024 Cameroon 🚀🇨🇲</h1>
            <p class="text-white text-center">Join the .NET Revolution in Cameroon!</p>
            <div class="flex justify-center flex-wrap gap-4">
                <a href="@EventUrl" target="_blank" class="btn btn-outline-white">Register Now <i class="fa-solid fa-arrow-right -rotate-45"></i></a>
                <a target="_blank" href="@SpeakerLink" class="btn btn-primary">Become a Speaker <i class="fa-solid fa-arrow-right -rotate-45"></i></a>
                <a target="_blank" href="@SponsorLink" class="btn btn-secondary">Support the Event <i class="fa-solid fa-arrow-right -rotate-45"></i></a>
            </div>
        </div>
        <div class="md:w-1/2 mt-6 md:mt-0 self-center flex flex-col gap-8">
            <div>
                <ul class="text-white flex md:block justify-center gap-4 flex-wrap">
                    <li class="font-bold"><i class="fa-regular fa-calendar-days"></i> 11th Jan 2025</li>
                    <li class="font-bold"><i class="fa-solid fa-location-dot"></i> CODEC - Logbessou Immeuble BAO</li>
                    <li class="font-bold link"><a target="_blank" href="https://maps.app.goo.gl/QDVsEbBKf1NAPL7j7"><i class="fa-regular fa-map"></i> Google Maps Location</a></li>
                </ul>
            </div>
            <Countdown DueDate="new DateTime(2025, 1, 11)" CountDownName="dotnet-conf-2024" />
            <div>
                <p class="text-white mb-6">Get ready to expand your skills, meet fellow developers, and dive into the latest trends in .NET at this year’s event! Here’s what awaits you</p>
                <ul class="text-white">
                    <li class="font-bold mt-2"><i class="fa-regular fa-circle-check"></i> Inspiring Talks from Experts</li>
                    <li class="font-bold mt-2"><i class="fa-regular fa-circle-check"></i> Cutting-Edge .NET 9 features</li>
                    <li class="font-bold mt-2"><i class="fa-regular fa-circle-check"></i> Build Connections</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Event Overview -->
<section class="section bg-[rgb(12,5,56)]">
    <div class="container mx-auto p-4">
        <h1 class="heading heading-1 text-white text-center">Event Overview</h1>
        <p class="text-white text-center">
            Get ready to join developers, tech enthusiasts, and industry experts from across Cameroon and beyond for an
            exciting day dedicated to .NET innovation. Whether you’re an experienced developer or just starting your
            journey, this conference offers something for everyone.
        </p>
    </div>
    <div class="flex flex-wrap justify-center gap-2 mt-12">
        @foreach(var activity in Activities)
        {
            <div style="background-image: url('@activity.ImageUrl');" class="activity relative flex flex-col justify-between bg-blue-400 p-6 md:p-12 bg-cover bg-center w-full md:w-[max(33%,500px)] h-[650px] overflow-y-hidden">
                <div class="activity-bg absolute top-0 left-0 w-full h-full bg-gradient-to-t from-[rgb(12,5,56)] to-transparent"></div>
                <span class="text-white text-sm font-bold uppercase">@activity.Label</span>
                <div class="relative z-10">
                    <h2 class="heading heading-1 text-white">@activity.Title</h2>
                    <div class="activity-desc">
                        <p class="text-white">@activity.Desctiption</p>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<!-- Why to attend -->
<section>
    <div class="section container mx-auto p-4">
        <div class="mt-4 md:flex md:items-center md:gap-6">
            <div class="md:w-1/2">
                <h1 class="heading heading-1">Why to attend?</h1>
                <p class="mb-6">Whether you’re an experienced developer or a newcomer to .NET, this event offers a valuable opportunity to grow, learn, and connect</p>
                <ul class="mb-8">
                    <li class="font-bold mt-2"><i class="fa-regular fa-circle-check"></i> Stay Ahead with the Latest in .NET 9</li>
                    <li class="font-bold mt-2"><i class="fa-regular fa-circle-check"></i> Get Inspired by Industry Leaders</li>
                    <li class="font-bold mt-2"><i class="fa-regular fa-circle-check"></i> Build Your Professional Network</li>
                </ul>
                <a target="_blank" href="@EventUrl" class="btn btn-primary">Register Now <i class="fa-solid fa-arrow-right -rotate-45"></i></a>
            </div>
            <iframe class="w-full aspect-square mt-4 md:mt-0 md:w-1/2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.709249649015!2d9.789040099999998!3d4.079514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1061131c3fb1ef0f%3A0x6d6a0abd91abe7a!2sCODEC!5e0!3m2!1sen!2scm!4v1734390986880!5m2!1sen!2scm" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>

<section>
    <div class="section container mx-auto p-4">
        <div class="mt-4 md:flex md:items-center md:gap-6">
            <div class="block md:hidden">
                <h1 class="heading heading-1">Share Your Expertise at .NET Conf Cameroon!</h1>
                <p class="mb-6">Are you passionate about .NET, cutting-edge technologies, or building innovative solutions? Do you enjoy sharing your knowledge and inspiring others to grow? Then we want <span class="font-bold">YOU</span> to be part of .NET Conf Cameroon 2024!</p>
                <ul class="mb-8">
                    <li class="mt-2"><i class="fa-regular fa-circle-check"></i> <strong class="font-bold">Visibility:</strong> share your knowledge</li>
                    <li class="mt-2"><i class="fa-regular fa-circle-check"></i> <strong class="font-bold">Networking opportunities:</strong> interact with experts</li>
                    <li class="mt-2"><i class="fa-regular fa-circle-check"></i> <strong class="font-bold">Personal branding:</strong> elevate your image.</li>
                </ul>
                <a target="_blank" href="@SpeakerLink" class="btn btn-primary">Become a Speaker <i class="fa-solid fa-arrow-right -rotate-45"></i></a>
            </div>
            <img src="@Assets["/assets/infinite-days/image-11.jpeg"]" alt="Call to speaker photo" class="w-full mt-4 md:mt-0 md:w-1/2 md:aspect-square md:object-cover">
            <div class="hidden md:block md:w-1/2">
                <h1 class="heading heading-1">Share Your Expertise at .NET Conf Cameroon!</h1>
                <p class="mb-6">Are you passionate about .NET, cutting-edge technologies, or building innovative solutions? Do you enjoy sharing your knowledge and inspiring others to grow? Then we want <span class="font-bold">YOU</span> to be part of .NET Conf Cameroon 2024!</p>
                <ul class="mb-8">
                    <li class="mt-2"><i class="fa-regular fa-circle-check"></i> <strong class="font-bold">Visibility:</strong> share your knowledge</li>
                    <li class="mt-2"><i class="fa-regular fa-circle-check"></i> <strong class="font-bold">Networking opportunities:</strong> interact with experts</li>
                    <li class="mt-2"><i class="fa-regular fa-circle-check"></i> <strong class="font-bold">Personal branding:</strong> elevate your image.</li>
                </ul>
                <a target="_blank" href="@SpeakerLink" class="btn btn-primary">Become a Speaker <i class="fa-solid fa-arrow-right -rotate-45"></i></a>
            </div>
        </div>
    </div>
</section>

<!-- Agenda -->
<section>
    <div class="section container mx-auto p-4">
        <h1 class="heading heading-1 text-center">Take a look at our Agenda</h1>
        <p>
            Discover the lineup of engaging sessions and activities we have planned for .NET Conf! Dive into the day's agenda and join us for an inspiring journey through .NET innovation and community connections
        </p>
        <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200">
            <ul class="flex flex-wrap tabs">
                <li>
                    <button id="dotnet-tab" onclick="showDotnetSessions()" class="tab active" aria-current="page">Dotnet Sessions</button>
                </li>
                <li>
                    <button id="microsoft-tab" onclick="showMicrosoftSessions()" class="tab">Microsoft Sessions</button>
                </li>
            </ul>
        </div>
        <div class="hidden"></div> <!-- Just to make sure the 'hidden' class is compiled by Tailwind -->
        <div id="dotnet-sessions" class="w-full">
            @foreach (var session in DotnetSessions)
            {
                <SessionCard Session="session"/>
            }
        </div>
        <div id="microsoft-sessions" class="hidden w-full">
            @foreach (var session in MicrosoftSessions)
            {
                <SessionCard Session="session"/>
            }
        </div>
    </div>
</section>

<!-- Sponsors -->
<section>
    <div class="section container mx-auto p-4 flex flex-col md:flex-row items-center justify-center min-h-[600px]">
        <div class="md:w-1/2 flex flex-col items-center md:items-start">
            <h1 class="text-center md:text-start heading heading-1">Meet our amazing Sponsors and Partners</h1>
            <p class="text-center md:text-start">Our sponsors and partners power .NET Conf Cameroon, fostering innovation and growth in our tech community. Join us to showcase your brand and make a lasting impact!</p>
            <div class="flex mt-4 gap-2">
                <a target="_blank" href="@SponsorLink" class="btn btn-primary">Become a Sponsor <i class="fa-solid fa-arrow-right -rotate-45"></i></a>
                <a target="_blank" href="/files/sponsorship-support.pdf" download="sponsorship-support.pdf" title="Download the sponsorship documentation" class="btn btn-secondary">Documentation <i class="fa fa-download"></i></a>
            </div>
        </div>
        <div class="mt-8 md:mt-0 flex gap-8 items-center md:w-1/2 justify-center flex-wrap">
            @foreach(var partner in Partners)
            {
                <a target="_blank" href="@partner.Website" title="@partner.Name" class="w-[100px] hover:scale-105 transition-all">
                    <img src="@partner.ImageUrl" alt="@partner.Name" class="w-full object-contain"/>
                </a>
            }
        </div>
    </div>
</section>

<section class="section">
<div>
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-center text-base/7 font-semibold text-secondary">About last year?</h2>
        <p class="mx-auto mt-2 max-w-xl text-balance text-center heading heading-1">A brief overview of the Infinite Days last year</p>
        <p class="mt-2 p-4 container text-center mx-auto text-balance">Last year, we hosted the Infinite Days event sponsored by <a href="http://isolutions-intl.com/" target="_blank" class="font-bold link link-secondary">Infinite Solutions SARL</a>, a tech company building enterprise level softwares and solutions. Here is a small recap by pictures of this amazing event !!</p>
    </div>
    <div class="flex flex-col gap-2 lg:grid lg:grid-cols-4 lg:grid-rows-3">
        <div class="flex lg:block lg:row-span-2 border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-6.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-8.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-9.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-1.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:row-span-2 lg:col-span-2 lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-7.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-3.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-2.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:row-span-2 lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-5.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:col-span-2 lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-4.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
        <div class="flex lg:block border-gray-600 border-opacity-15 rounded-lg border-[1px] overflow-hidden">
            <img class="lg:w-full lg:h-full object-cover hover:scale-105 transition-all" src="@Assets["/assets/infinite-days/image-10.jpeg"]" alt="Cameroon Infinite Days 2023 Insights">
        </div>
    </div>

    <div class="w-fit mt-5 mx-auto">
        <a href="https://stdntpartners-my.sharepoint.com/:f:/g/personal/jauresbeinjamin_fotsing_studentambassadors_com/EhDShjh0chVCi2jd8CYYtdQBpikOCGWqu714RdXfZ8iZpg?e=iuBvce" target="_blank" class="btn btn-primary">See all the pictures <i class="fa-solid fa-arrow-right -rotate-45"></i></a>
    </div>
</div>
</section>

@code {

    private string EventUrl = "https://forms.office.com/r/ChLwZEYr53";
    private string SpeakerLink = "https://forms.office.com/r/debtL0TDmA";
    private string SponsorLink = "https://forms.office.com/r/YnKLW60s73";

    private string _dotnetSessionsClass = string.Empty;
    private string _microsoftSessionsClass = "hidden";

    private Activity[] Activities = [
        new ("Inspiring Sessions and Conferences", "Dive into cutting-edge topics and explore the latest in .NET technology through insightful sessions and talks. Learn from experts as they cover a wide range of topics, from web and mobile development to cloud solutions and artificial intelligence", "/assets/activities/activity-2.jpeg", "Tech"),
        new ("Meet Microsoft Experts", "Gain exclusive insights from Microsoft employees who work directly on .NET and related technologies. This is your chance to hear directly from those shaping the future of .NET and to ask questions that matter to your projects.", "/assets/featured/net9.png", "Culture"),
        new ("Networking and Connections", "Build meaningful connections with fellow developers, industry professionals, and tech enthusiasts. Exchange ideas, discuss solutions, and expand your network within the vibrant .NET community of Cameroon and beyond.", "/assets/featured/carousel-2.png", "Community"),
    ];

    private Partner[] Partners = [
        new ("/assets/sponsors/dotnetfondation.webp", ".NET Foundation", "https://dotnetfoundation.org"),
        new ("/assets/sponsors/proditech.png", "Proditech Consulting", "https://proditech-digital.com"),
        new ("/assets/sponsors/itia-removebg-preview.png", "ITIA Solutions Consulting", "https://itia-consulting.com"),
        new ("/assets/sponsors/codec.png", "Codec", "https://codec.cm"),
        new ("/assets/sponsors/tcd-cmr.png", "Tech Communities Day Cameroon", "https://www.linkedin.com/company/tech-communities-day-cameroon"),
        new ("/assets/sponsors/examboot.jpg", "Examboot", "https://examboot.net/"),
        new ("/assets/sponsors/Microsoft_PowerPlateform_Cameroun-removebg-preview.png", "Microsoft PowerPlateform Cameroun", "https://www.linkedin.com/company/communaut%C3%A9-microsoft-powerplatform"),
    ];

    private Session[] MicrosoftSessions = [
        new(
            "Keynote",
            null,
            [ new Speaker("Boris Gautier", "Software, SI, DevOps and Lead Engineer", "", null, null, null)],
            new TimeOnly(10, 00),
            new TimeOnly(10, 30),
            SessionType.Keynote, Room.Microsoft),
        new(
            "Copilot: prise en main de copilot sur Microsoft 365",
            null,
            [ new Speaker("Tchassem Eric", "CEO of PRODITECH", "", null, null, null)],
            new TimeOnly(10, 30),
            new TimeOnly(11, 00),
            SessionType.Talk, Room.Microsoft),
        new(
            "ITIA",
            null,
            [ new Speaker("ITIA", "ITIA", "", null, null, null)],
            new TimeOnly(11, 00),
            new TimeOnly(11, 15),
            SessionType.Advertisement, Room.Microsoft),
        new(
            "Git and GitHub for Dummies",
            null,
            [ new Speaker("Steve Yonkeu", "Software Engineer", "", null, null, null)],
            new TimeOnly(11, 15),
            new TimeOnly(11, 45),
            SessionType.Talk, Room.Microsoft),
        new(
            "Microsoft Power BI - Initiation à Power BI : Exploration des données et création de tableaux de bord interactifs",
            null,
            [ new Speaker("BITÉE Méryl", "Ing @ ARII, Architecte des Technologies du Numériques", "", null, null, null)],
            new TimeOnly(11, 45),
            new TimeOnly(12, 15),
            SessionType.Talk, Room.Microsoft),
        new(
            "Break",
            null,
            [ new Speaker("Break", "Break", "", null, null, null)],
            new TimeOnly(12, 15),
            new TimeOnly(12, 45),
            SessionType.Break, Room.Microsoft),
        new(
            "Tech Community",
            null,
            [ new Speaker("Tech Community", "Tech Community", "", null, null, null)],
            new TimeOnly(12, 45),
            new TimeOnly(13, 00),
            SessionType.Advertisement, Room.Microsoft),
        new(
            "Développer une application web moderne avec Python et .NET : Une approche hybride pour les développeurs web",
            null,
            [ new Speaker("Johanna Felicia", "Software Engineer", "", null, null, null)],
            new TimeOnly(13, 00),
            new TimeOnly(13, 30),
            SessionType.Talk, Room.Microsoft),
        new(
            "Overview of Microsoft AI solutions",
            null,
            [ new Speaker("Kana Azeuko Sherelle", "Machine Learning Engineer", "", null, null, null)],
            new TimeOnly(13, 30),
            new TimeOnly(14, 00),
            SessionType.Talk, Room.Microsoft),
    ];

    private Session[] DotnetSessions = [
        new(
            "Keynote",
            null,
            [ new Speaker("Doriane Mangamtcheuth", "Analyste M365 | Power Platform | Microsoft Dynamics 365", "", null, null, null)],
            new TimeOnly(10, 00),
            new TimeOnly(10, 30),
            SessionType.Keynote, Room.Dotnet),
        new(
            "Deploy .NET Aspire app to Kubernetes using Azure DevOps pipelines",
            null,
            [ new Speaker("Vahid Farahmandian", "CEO of Spoota Co", "", null, null, null)],
            new TimeOnly(10, 30),
            new TimeOnly(11, 00),
            SessionType.Talk, Room.Dotnet),
        new(
            "CODEC",
            null,
            [ new Speaker("CODEC", "CODEC", "", null, null, null)],
            new TimeOnly(11, 00),
            new TimeOnly(11, 15),
            SessionType.Advertisement, Room.Dotnet),
        new(
            "Moderniser son architecture avec .NET et Azure",
            null,
            [ new Speaker("NTONGA Franck Loïc", "DevOps Engineer", "", null, null, null)],
            new TimeOnly(11, 15),
            new TimeOnly(11, 45),
            SessionType.Talk, Room.Dotnet),
        new(
            "Pourquoi choisir .NET 9 en 2025: Fonctionnalités, Avantages et Innovations",
            null,
            [ new Speaker("Djoufson Che", "Software Engineer @ L'Agence Digitale", "", null, null, null)],
            new TimeOnly(11, 45),
            new TimeOnly(12, 15),
            SessionType.Talk, Room.Dotnet),
        new(
            "Break",
            null,
            [ new Speaker("Break", "Break", "", null, null, null)],
            new TimeOnly(12, 15),
            new TimeOnly(12, 45),
            SessionType.Break, Room.Dotnet),
        new(
            "Tech Community",
            null,
            [ new Speaker("Examboot", "Examboot", "", null, null, null)],
            new TimeOnly(12, 45),
            new TimeOnly(13, 00),
            SessionType.Advertisement, Room.Dotnet),
        new(
            "Le Domain-Driven Design du point de vue du client",
            null,
            [ new Speaker("Aguekeng Arolle", "Software Engineer @ RHOPEN LABS", "", null, null, null)],
            new TimeOnly(13, 00),
            new TimeOnly(13, 30),
            SessionType.Talk, Room.Dotnet),
        new(
            "Cross-Platform Development Simplified: Building a Sync-Enabled To-Do App with .NET MAUI and Parse",
            null,
            [ new Speaker("Yvan Brunel", ".NET Developer", "", null, null, null)],
            new TimeOnly(13, 30),
            new TimeOnly(14, 00),
            SessionType.Talk, Room.Dotnet),
    ];

    private void ShowDotnetSessions()
    {
        _dotnetSessionsClass = string.Empty;
        _microsoftSessionsClass = "hidden";
        StateHasChanged();
    }
    
    private void ShowMicrosoftSessions()
    {
        _dotnetSessionsClass = "hidden";
        _microsoftSessionsClass = string.Empty;
        StateHasChanged();
    }

    record Activity(
        string Title,
        string Desctiption,
        string ImageUrl,
        string Label
    );

    record Partner(
        string ImageUrl,
        string Name,
        string? Website
    );
}
